#experience-page {
    --left_size: 30vw;
    
    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120vh;
    
        padding-bottom: 20vh;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .work,
    .education,
    .project {
        color: var(--mainColor);
        padding: 2rem;
        padding-top: 2.5rem;
        padding-left: var(--left_size);
        padding-right: 5vw;

        transition-duration: .5s;
        h1 { 
            font-weight: 700;
            font-size: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                left: -1em;
                width: .5em;
                height: .03em;
                
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                // border-radius: 100%;
                border-top-left-radius: 100%;
                border-bottom-left-radius: 100%;
            }
    
            &::after {
                content: "";
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                left: -.5em;
                width: .25em;
                height: .25em;
                background: rgb(255, 255, 255, .3);
                border: .05em solid white;
                box-shadow: 0 0 .5em white;
                border-radius: 50%;
            }
        }

        section {
            font-size: .7rem;
            // padding-top: 1rem;
            // padding-bottom: 1rem;
            position: relative;          
            
            .id {
                color: var(--secondaryColor);
                font-size: 2em;
                line-height: 1.5em;
                margin-bottom: .2em;
                font-weight: bolder;
                span {
                    font-size: .5em;
                    font-weight: lighter;
                }
            }
            .project,
            .fullname {    
                font-size: 1.2em;
                line-height: 1.5em;
                margin-bottom: .5em;
            }
            .title {
                font-size: 1em;
                line-height: 1em;
                margin-bottom: .2em;
            }
            .skill {
                font-size: .9em;
                padding-top: 1.5em;
                display: flex;
                flex-wrap: wrap;
                gap: 1em;
                li {
                    display: inline-block;
                    padding-top: .5em;
                    padding-bottom: .5em;
                    padding-left: 1em;
                    padding-right: 1em;
                    background-color: black;
                    border-radius: 25px;
                }
            }
            .bottom {
                font-size: 1em;
                padding-right: .5em;
                margin-right: .5em;
                margin-bottom: 1em;
                position: absolute;
                right: 0;
                bottom: 0;
                > * {
                    margin-right: 1em;
                    font-style: italic;
                    text-align: right;
                }
            }
        }
    
    }

    img.bg_img {
        z-index: -1;
        position: absolute;
        // bottom: 0;
        top: 40%;
        max-width: 80%;
        // opacity: 70%;
    }

    .sideNavBar {
        --normalColor: white;
        --focusColor: var(--secondaryColor);

        user-select: none;

        opacity: 0;
        transition-duration: .5s;
        visibility: hidden;
        justify-content: start;
        width: calc(var(--left_size) - 7vh);
        padding-right: 2vw;

        > ul {
            --offsetHeight: 6vh;
            top: 30vh;

            > li {
                h1 {
                    border-radius: 1em;
                    background: linear-gradient(90deg, rgba(255,255,255,0) 16%, rgba(0,0,0,1) 100%);
                }

                ul {
                    li {
                        &:hover {
                            color: white;
                        }
                    }
                }

                &.focus {
                    h1 {                         

                        // box-shadow: 0 0 .5em white;

                    }
                }
            }
        }
        &.show {
            visibility: visible;
            opacity: 1;
        }   
    }
}

@keyframes slideIn {
    0% { 
        transform: translateY(-100%);
        opacity: 0;
    }
    25% { 
        opacity: 0;
    }
    100% { opacity: 1;}
}
