@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

body {

    --mainColor: white;
    --secondaryColor: rgb(248 113 113);
    // background-color: black;
    
    font-family: 'Cairo', sans-serif;

    h1 {
        font-family: 'Supermercado One', cursive;
    }
    background: url("../assets/img/Frame.jpg") center 0px / cover no-repeat fixed;
}

#root {
    min-height: 100vh;
}