@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cairo:wght@300&display=swap');


@font-face {
    font-family: "TitleFont";
    src: url("../assets/font/WasteboneDemo-eZPOl.ttf");
}


@font-face {
    font-family: "SecondaryFont";
    src: url("../assets/font/BrushStrokes-q6B5.ttf");
}


body {
    background-color: black;
    
    font-family: 'Cairo', sans-serif;

    &::-webkit-scrollbar {
        // width: 0;
    }
    
    h1 {
        font-size: 5rem;
        
        font-family: TitleFont, monospace;
    }
    background: url("../assets/img/Frame.jpg") center 0px / cover no-repeat fixed;
}

#root {
    min-height: 100vh;
}