
.scroll-window {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
        height: .5rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: white;
    }
    &::-webkit-scrollbar-track {
        background-color: black;
    }
    &::-webkit-scrollbar-corner {
        background-color: green;
    }
    &.X {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
    }
    &.Y {
    
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    & > * {
        height: inherit;
        scroll-snap-align: start;
    }
    &.full {
        height: 100vh;
    }
    &.small {
        height: 60vh;
        
        transition: .5s;
        transition-delay: .1s;
        transition-property: all;
        & > * {
            margin-right: 1rem;
        }

        &::-webkit-scrollbar {
            width: 0.1rem;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 10px 10px red;
            border: solid 3rem transparent;
            background-color: inherit;
            
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 10px 10px green;
            border: solid 3rem transparent;
            border-radius: 50%;
            background-color: inherit;
        }
        &:hover {
            overflow: auto;
            &::-webkit-scrollbar-thumb {
                width: .1rem;
                background-color: white;
            }
            &::-webkit-scrollbar-track {
                background-color: gray;
            }
        }
    }
}
